<table class=" tbl tbl-striped">
  <thead>
  <th>Id</th>
  <th>Name</th>
  <th>Price</th>

  </thead>
  <tbody>
  <tr *ngFor="let p of products" >
<td>{{p.id}}</td>
    <td>{{p.name|uppercase}}</td>
    <td>{{p.price}}</td>
    <td>{{p.quantityInOrder}}</td>
    <td ><button  class ="btn btn-primary" (click)="addToCArt(p)">add to cart</button></td>
  </tr>
  <tr>
  <td></td>
  <td></td>
    <td>Total: {{total.totalPrice|currency}}</td>
    <td>Quantity: {{total.quantity}}</td>
    <td ><button  class ="btn btn-primary" (click)="getTotal()">get Total</button></td>
  </tr>
  </tbody>


</table>
